<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">FAQ</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-question wow text-primary"></i>
                    <h3>Why do we need a new school?</h3>
                    <p class="text-muted">The current Pulaski and Dublin Middle Schools are very old (up to 80 years old) and are deteriorating and unsafe.  Our children deserve a safe environment in which to learn.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-money wow text-primary" data-wow-delay=".1s"></i>
                    <h3>How much is this going to cost me?</h3>
                    <p class="text-muted">The estimated cost is $47 million which will be financed in part via a property tax increase of around 8 cents per $100 of assessed value.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow text-primary" data-wow-delay=".2s"></i>
                    <h3>Where will it be located?</h3>
                    <p class="text-muted">The proposed location is on Rt 11 at Thornspring Rd Across from Cougar Express</p>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-credit-card wow text-primary" data-wow-delay=".2s"></i>
                    <h3>What is wrapped debt?</h3>
                    <p class="text-muted">Link to one of Mike's explainer posts on peaksknob.net</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-home wow text-primary" data-wow-delay=".3s"></i>
                    <h3>Why can’t the County tax something besides real estate?</h3>
                    <p class="text-muted">Answer and link to more info</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow text-primary" data-wow-delay=".3s"></i>
                    <h3>How will elderly citizens on fixed income afford the tax increase?</h3>
                    <p class="text-muted">Answer and link to more info</p>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-university wow text-primary" data-wow-delay=".3s"></i>
                    <h3>What will happen to the old middle schools?</h3>
                    <p class="text-muted">Answer and link to more info</p>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>
