<header>
    <div class="header-content">
        <div class="header-content-inner">
            <br /> <br />
            <br /> <br />
            <br /> <br />
            <iframe width="480" height="360" src="https://www.youtube.com/embed/5RCwHlVKdC0" frameborder="0"> </iframe>
            <hr>
            <h1>Pulaski Consolidated Middle School</h1>
            <p>Information on the upcoming referendum to authorize issuing a bond to build a consolidated Middle School</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
